.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/King_County_Metro_8160.jpg/800px-King_County_Metro_8160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}